body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: fit-content;
}
/*provisional*/img{
width: auto;
height: 50px;
margin: 0;
padding: 0;
}
#titulo{
    margin: 0 0 0 7%;
    padding-top: 5px;
    font-size: 30px;
    color: aliceblue;
}
.container_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 ;
}
.nav {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    background-color: #252f4e;
}
.nav a {
    color: #fff;
    text-decoration: none;
}
.nav-buttons{
    display: flex;
    margin-top: 10px;
}
.nav-buttons a{
    font-size: large;
    padding-left: 10px ;
    padding-right: 20px ;
}

/*fondo*/
.section {
    width: 100%;
    display: flex; 
    min-height: fit-content;
    justify-content: center;
}
.main_Sec{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#registro-secundario{
    display: flex;
    color: #d3ddfc;
    text-decoration: none;
    justify-content: center;
    margin: 0px 100px 20px 0px;
}
/*SECCIONES*/
/*PRIMERA*/
#section1 {
    background-color: #c579f1;
}

/*SEGUNDA*/
#section2 {
    background-color: #252f4e;
    color: beige;
}
/*TERCERA*/
#section3 {
    background-color: #c579f1;
}
.parrafos p{ /*seccion 1 y 3*/
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #252f4e;
}
.parrafos2 p{ /*seccion 2*/
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d3ddfc;
}
.img-sec{
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
#img_S1{
    width: auto;
    height: 200px;
    margin: 20px 0px 20px 100px; /*arriba der abajo izq*/
}
#img_S2{
    width: auto;
    height: 200px;
    margin: 20px 100px 20px 0px;
}
#img_S3{
    width: auto;
    height: 200px;
    margin: 20px 0px 20px 100px; /*arriba der abajo izq*/
}
.footer {
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    background-color: #333;
}

.footer p {
    color: #fff;
    text-decoration: none;
}

