
  body {
    font-family: sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "HARRYP__.ttf";
    src: url("HARRYP__.ttf.TTF"); /* Reemplaza "Fuente.ttf" con el nombre del archivo de la fuente que has descargado */
  }
  
  .boton-ubi-derecha {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid rgb(180, 178, 178);
    background-color: transparent;
    font-family: 'Crimson Pro', serif;

    letter-spacing: 1px;
    font-size: 15px;
}

.boton-ubi-derecha:hover {
    box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.5);
    background-color: #3B5154;
}


.seccion-derecha p {
    float: right;
    clear: right; /* Agrega esta propiedad para evitar que elementos floten en el lado derecho */
    margin-right:42px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    font-family: 'Crimson Pro', serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
}

  

  /* Form section */
  .formulario-seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Ajusta el margen superior según tus necesidades */
    margin-left: -50px;
  }
  
  
  .formulario {
    border: 1px solid rgb(180, 178, 178);
    box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.5);
    width: 380px;
    padding: 20px;
    background-color: #355c3996;
    border-radius: 10px;

  }
  
  .dos-columnas {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }
  
  label {
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
margin-top: 15px;
color: #fff;
text-transform: uppercase;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
background-color: transparent;
margin-top: 10px;
margin-bottom: 5px;

  }
  
  input[type="submit"] {
    background-color: #3B5154;
    box-shadow: 1px 1px 1px solid #0a0f0f;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
  }
  input[type="submit"]:hover {
    background-color: #57787c;
    box-shadow: 2px 2px 2px solid #0a0f0f;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
  }
  
  input[type="text"] {
    margin-top: 10px;
    border-radius: 10px;

  }
  
  input[type="text"] + label {
    font-size: 16px;
    font-weight: bold;
    display: block;

  }

  h2 {
    font-family: "HARRYP__.ttf";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .imagen-form img {
    width: 450px;
    height:535px;
    float: right;
    margin-right: 50px;

    border-radius: 10px;
  }

  input[name="correo"]::placeholder {
    color: white;
  }
  input[name="contraseña"]::placeholder {
    color: white;
  }
  input[name="nombre"]::placeholder {
    color: white;
  }
  input[name="apellido"]::placeholder {
    color: white;
  }
  input[name="edad"]::placeholder {
    color: white;
  }
