body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "HARRYP__.ttf";
    src: url("HARRYP__.ttf.TTF");
  }
  /* .content{

display: flex; 
  
} */

  .probar {
    background-color: #202124;
    display: grid;
    grid-template-columns: 1fr 2fr 0.8fr;
    border-bottom: 3px solid #28452b;
  }
  .header1{
    text-align: center;
  }
  .barra-busqueda {
    padding: 10px;
    display: flex;
    justify-content: end;
    margin-right: -12px;
    margin-top: 8px;

  }
  
  .barra-busqueda input {
    width: 40%;
    height: 30px;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;

  }
  
  .barra-busqueda button {
    margin-left: 5px;
    width: 65px;
    height: 44px;
    background-color: #355C39;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .header3{
    justify-content: end;
    margin-left:70px;
    margin-top: 23px;
  }

  .header3 .material-symbols-outlined{
color: white;
width: 50px;
height: 50px;
font-size: 35px;
margin-right: 20px;
  }
  h2 {
    font-family: "HARRYP__.ttf";
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
  }
  
  .caja-contenedora {
    display: grid;
    grid-template-columns: 1fr 2fr 0.8fr;
    height: 100%;
  }
  
  .primeraParte {
    background-color: #202124;
    height: 100%;
    border: 1px solid white;
    align-items: center;
    text-align: center;
  }
  .primeraParte img{
    width:70%;
    height: 120%;
    
  }
  .primeraParte .imagen{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .segundaParte {
    background-color: #355c399f;
    height: 100%;
    border: 1px solid white;
  }
  
  .terceraParte {
    background-color: #202124;
    height: 100%;
    
  }
<<<<<<< HEAD

  /* ESTILOS DEL SLIDER
  .card .image{
    width: 110px;
    height: 120px;
    border-radius: 10px;
    }
    .card .image img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .card{
        position: relative;
        width: 130px;
    background-color: black;
        border: 3px solid blue;
        border-radius: 20px;
    }
    .card .card-content{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    
    }
    .card .name-profession{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        color: white;
    }
    
    .name-profession .name{
        font-size: 20px;
        font-weight: 600;
    } */

/* ESTILOS DE LA TERCERA PARTE */
    .item-menu{
      display: flex;
      border-radius: 10px;
      border: 1px solid white;
      width: 80%;
      margin-left: 40px;
      background-color: #4CAF50;
      margin-top: 20px;
    }

    .item-menu:hover{
      border-radius: 10px;
      border: 1px solid white;
      background-color: #355C39;
    }

    #probanndoIcono{
      padding: 10px ;
      border-radius: 50%;
      background-color:#355C39 ;
      border: 1px solid #1c311e;
      color: white;
      margin-left: 15px;
      margin-top: 5px;
    }

    .item-menu:hover #probanndoIcono{
      background-color:#4CAF50 ;
      border: 1px solid white;
      color: white;
      
    }
    .tittle-menu{
      font-family: 'Crimson Pro', serif;
      color: white;
      margin-left: 15px;
    }

   /* ESTILOS DE LA SEGUNDA PARTE */
   .segundaParte {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
  }

  .tittle-categoria p {
    text-align: left;
    margin-left:40px;
   
    border-radius: 10px;
    padding: 8px;
    width: 150px;
    font-family: 'Crimson Pro', serif;
    font-size:25px;
    color: white;
    font-weight: 500;

  }

  .categorias{
    display: flex;
  }

  .cursos-cards{
    display: flex;
  }
  .subCategorias button{
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px; 
    width: 160px;
    background-color: #355c3933;
    color: white;
    margin-right:-15px;
    font-family: 'Crimson Pro', serif;
    margin-left: 40px;
  }
  .subCategorias button:hover{
    color: black;
    background-color: #4CAF50;
  }

  .duracion{
    display: flex;
    margin-left:25px;
    color: white;
  }
  .duracion .duracion-titulo{
    margin-top: 4px;
    margin-left: 5px;
  }
  .curso-contenedor{
    margin-top: 40px;
    border-radius: 10px;
    width:278px;
    margin-left: 40px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.521);
  }
  .curso-contenedor h3{
    color: white;
    margin-top: 60px;
    font-size: 30px;
  }
  .curso-contenedor p{
    font-family: 'Crimson Pro', serif;
    padding: 4px;
    border-radius: 10px;
    width: 50%;
    border:2px solid white;
    margin-left:25px;
    color: white;
    background-color:#355c3993 ;
  }
  .curso-contenedor button{
    padding: 15px 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    font-weight: 500;
  }

  .curso-contenedor button:hover{
    background-color:  #4CAF50;
    color: black;
    
  }


  .curso-contenedor {
    display: block;
  }

  .curso-contenedor .add{
      color: white;
     border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px 5px;
    }

  .curso-contenedor .add:hover{
    background-color: #4CAF50;
  }

  /* Agrega este código a tu hoja de estilo CSS */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}
.popup-container img{
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-left: 80px;
}

.popup-container p{
  font-family: "HARRYP__.ttf";
  font-size: 20px;
  text-align: center;
}
.popup-container .botones-cs button{
  padding: 15px 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}
.popup-container #cerrarpopu:hover{
  background-color: red;
  color: white;
  border: 2px solid red;
}
.popup-container #cerrarpopu{

  color: rgb(238, 12, 12);
  border: 2px solid red;
}
.popup-container #cerrarsesion:hover{
  background-color: #4CAF50;
  color: white;
}

.carrousel-container{
  display: flex;
}

.carrousel-container .imagenes-carrousel  img{
  width: 120px;
  height: 200px;
}
.carrousel-container .imagenes-carrousel{
  margin-right: 15px;
}
.carrousel-container h3{
  text-align: center;
  color: white;
  font-family: "HARRYP__.ttf";
  letter-spacing: 2px;
}
.carrousel-container .flechas{
  color: white;
  font-size: 25px;
  margin-top: 90px;
}
.carrousel-container{
  margin-left: 20px;
  margin-right: 20px;
}

.personaje-elegido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 20px;

}

.personaje-elegido img {
  max-width: 100%;
  max-height: 100%; 
}

/* Estilo inicial del botón */
.primeraParte button {
  padding: 15px 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

/* Estilo durante la animación */
/* Estilo durante la animación */
.primeraParte button.cambiando {
  background: radial-gradient(circle, rgba(76,175,80,1) 0%, rgba(0,0,0,1) 100%);

  background-size: 200% 100%;  /* Tamaño del fondo */
  color: black;                 /* Color del texto durante la animación */
  transition: background-position 0.5s ease, color 0.5s ease;  /* Transición de animación */
}


/* Estilo al pasar el ratón sobre el botón */
.primeraParte button:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.671);
}
=======
  
  
>>>>>>> 5ce81ed5750929fb89fb39fec04da492be89a51f
