body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "HARRYP__.ttf";
    src: url("HARRYP__.ttf.TTF");
  }
  
  .probar {
    background-color: #355C39;
    display: grid;
    grid-template-columns: 1fr 2fr 0.8fr;
  }
  .header1{
    text-align: center;
  }
  .barra-busqueda {
    padding: 10px;
    display: flex;
    justify-content: end;
    margin-right: -12px;
    margin-top: 8px;

  }
  
  .barra-busqueda input {
    width: 40%;
    height: 30px;
    border: none;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;

  }
  
  .barra-busqueda button {
    margin-left: 5px;
    width: 65px;
    height: 44px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .header3{
    justify-content: end;
    margin-left:70px;
    margin-top: 23px;
  }

  .header3 .material-symbols-outlined{
color: white;
width: 50px;
height: 50px;
font-size: 35px;
margin-right: 20px;
  }
  h2 {
    font-family: "HARRYP__.ttf";
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
  }
  
  .caja-contenedora {
    display: grid;
    grid-template-columns: 1fr 2fr 0.8fr;
    height: 100%;
  }
  
  .primeraParte {
    background-color: #355C39;
    height: 100%;
    border: 1px solid white;
  }
  .primeraParte img{
    width:70%;
    height: 120%;
    
  }
  .primeraParte .imagen{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .segundaParte {
    background-color: #355c399f;
    height: 100%;
    border: 1px solid white;
  }
  
  .terceraParte {
    background-color: #355C39;
    height: 100%;
  }
  
  
