body {
    margin: 0;
    padding: 0;
    min-height: fit-content;
}
.container_main{
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    height: 60vh;
    justify-content: center;
}
.fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

@font-face {
    font-family: "HARRYP__.ttf";
    src: url("HARRYP__.ttf.TTF");
    /* Reemplaza "Fuente.ttf" con el nombre del archivo de la fuente que has descargado */
  }
#textoAnimado {
    font-family: "HARRYP__.ttf";
    font-size: 180px;
    margin-top: 20px;
    color: #252f4e;
    text-align: center;
    text-shadow: 5px 7px 5px rgb(241, 241, 241);

}
.contenedor {
    text-align: center;
  }

/* Establece la opacidad inicial del texto a 0 con una transición más lenta */
#textoAnimado {
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Aumenta la duración de la transición a 2 segundos */
  }
/*SLIDER*/
/* 
/*SECCIONES MAIN

.main_Sec{
    width: 70%;
    min-height: 50vh;
    align-items: center;
}

/*IMAGENES SECCIONES
.img-sec{
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end; 
    justify-content: center;
}
#img_S1{
    width: auto;
    height: 500px;
    margin:0;
    justify-content: flex-end;

}

.carousel {
    width: 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  .carousel img.active {
    opacity: 1;
  } */

/*FOOTER*/
footer {
    width: 100%;
    background-color: #3B5154; 
}
.containerFooter{
    margin: 0 10% 0 10%;
    width: 80%;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,2fr);
}

.redes {
    display: flex;
  margin-left: 200px;
    align-items: center;
}

.redes a {
    display: flex;
    color: #fff;
    flex-direction: column;
    text-decoration: none;
}

.redes img {
    width: 50px; 
    height: 50px;

}

.copy{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
}
footer p {
    color: #fff;
    text-decoration: none;
}


.swiper {
    width:90%;
    height: 90%;
    transform: translate(10%, -10%);
    background-color: transparent;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container_main {
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    height: 60vh;
    justify-content: flex-end; /* Alinea los elementos al final del eje principal (derecha) */
}

.imagen {
    /* Estilos para el contenedor de la primera imagen (pergamino) */
    width: 50%; /* o el ancho deseado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}
.img-sec {
    padding: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px; /* Ajusta este valor según sea necesario para mover la imagen más arriba */
    margin-left: 250px;
}

#img_S1 {
    width: auto;
    height: 500px;
    margin: 0; /* arriba der abajo izq */
}


/* Estilo de las flechas de navegación del Swiper */
 /* .swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #0000008e;
  border-radius: 50%;
}

.swiper-button-next{
    margin-left: 120px;
}
 .swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #555;
} */

.swiper-slide h1{
    font-family: "HARRYP__.ttf";
    font-size: 50px;
    margin-top: 20px;
    color: #ffffff;
    margin-top: 90px;
    text-align: center;
    text-shadow: 5px 7px 5px black;
}

.swiper-slide p{
    width: 700px;
    font-size: 30px;
    margin-left: 190px;
    font-family: 'Crimson Pro', serif;
}
.swiper-slide img{
    height:150px;
    width: 160px;
 margin-left: 240px;
    padding-bottom: 250px;
}
.botones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    margin-bottom: 100px;
    margin-top: -70px;
}

.botones a {
    display: block; /* Cambia a bloque para permitir el centrado vertical */
    width: 300px;
    margin-left: 25px;
    background-color: #3B5154;
    border-radius: 10px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 0px 4px 4px #293738;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center; /* Añade esto para centrar el texto horizontalmente */
}

.botones a:hover{
    background-color: #57787c;
}