body {
   
    background-color: #1B2033;
  }


h2{
  font-family: "HARRYP__.ttf";
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}


  /* ESTILOS DE LA BARRA DE PASOS */
  #ProgressSteps {
    margin: 40px auto;
    max-width: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    /* border: 1px solid #bbb; */
  }
  
  #StepsLineBg {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 3px;
    background-color: #ddd;
    z-index: -1;
  }
  
  #StepsLine {
    position: absolute;
    height: 3px;
    background-color: #4caf50;
    top: 50%;
    left: 0;
    z-index: -1;
    transition: all 0.45s ease;
    width: 33.33;
  }
  
  .steps {
    height: 30px;
    width:30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ddd;
    border: 3px solid #bbb;
    transition: all 0.5s ease;
  
  }
  
  .active {
    background-color: #4caf50;
    color: white;
  }
  
  .controls-container {
    margin-top: 20px;
  }
  #backArrow {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ddd;
    border: 3px solid #bbb;
    transition: all 0.5s ease;
    margin-top: 30px;
    margin-left:30px;
 }
 #stepInicio{
    height: 30px;
    width: 30px;
    
 }
 
 #backArrow:hover {
    background-color: #4caf50;
    color: white;
 }

 #ProgressSteps img{
  height: 60px;
  padding-bottom: 8px;
 
 }
 
 #ProgressSteps .steps .active-img {
  display: none;
}

#ProgressSteps .steps.active .active-img {
  display: block;
}

#ProgressSteps .steps.active .inactive-img {
  display: none;
}
  /* FIN ESTILOS DE LA BARRA DE PASOS */
 
/* info  */

.caja-contenedora{
  position: relative;
  top: 50%;
  left: 50%;
background-color: #1B2033;
opacity: 0.7;
  width: 460px;
  height: 255px;
margin-left: -130px;
border-radius: 10px;
margin-bottom: 500px;
}


label {
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
  margin-right: 20px;
  padding-left: 20px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

select {
  width: 150px; /* Establece el ancho que desees */
  padding: 5px;
  border-radius: 10px;
}

.selector-container li {

  width: 35px;
  height: 25px;
  padding-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid #fff8f8;
  font-family: "HARRYP__.ttf";
  color: #ddd;
}

.selector-container li.selected {
  background-color: #3B5154;
  color: white;
}

main {
  position: relative;
  text-align: center;
}

.imagen-fondo {
  width: 200px;
  height: 400px;
  height: auto;
  display: block;
}

.imagen-superpuesta {
  position: relative;
  display: inline-block;
}

.superpuesta {
  position: absolute;
  top: 119%;
  left: 115%;
  transform: translate(-50%, -8%);
  border: 1px solid rgb(180, 178, 178);
  box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.5);
  border-radius: 10px;
  text-align: left;
  
}


.superpuesta select{
  margin-left:40px;
}


main {

  width: 80%;
  margin: 0 auto;
  /* Resto de estilos para el main */
}

.boton-fuera-main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 580%);
  width: 400px;
  height: 50px;
  background-color: #3B5154;
  border-radius: 10px;
  font-family: 'Crimson Pro', serif;
  font-size:15px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 4px 4px #293738;
  color: #fff;
  
}

.boton-fuera-main:hover{
  background-color: #57787c;
}

.espacio{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 700%);
  width: 400px;
  height: 50px;

  
}













